 body{margin: 0 auto}

.header{background-color: #FF8000;
		width:100%;
		height:150px;}

.fondo{position:relative;
	width:100%;
	height:900px;
	}
	
.imgfondo{width:100%;
	height:900px;}
		
.logo{width:32%;
	height:175%;
	position:relative;
		bottom:50px;
		right:30px;}
		
ul{float:right;
	 list-style: none outside none;
	 margin-top:90px;
	
	 }
li{display:inline;
	font-family:calibri;
	 font-size: 20px;
	padding-right:50px;
	border-right:solid 2px;
	padding-left:40px;
	
	}
.ultimoli{border-right:none;}

a{text-decoration: none;
  color:black;}

 #div1{width:100%;
	height:100%;
	
	}

section{background:rgba(254,154,46, 1);
		opacity:0.6;
		width:77%;
		height:70%;
		position:relative;
		bottom:800px;
		left:150px;
		padding-top:10px;}	

h2{margin-left:60px;
	font-size:40px;
	font-family:calibri;}

p{margin-left:50px;
	font-size:25px;
	font-family:calibri;}
	
#foto1{width:250px;
	height:190px;
	margin-left:50px;
	}
.f1{width:100%;
	height:100%;}
	
#foto2{width:280px;
	height:190px;
	margin-left:350px;
	position:relative;
	bottom:190px;
	}
.f2{width:100%;
	height:100%;}

#foto3{width:250px;
	height:190px;
	margin-left:680px;
	position:relative;
	bottom:380px;
	}
.f3{width:100%;
	height:100%;}
hr{color:black;}	
	
	
footer{background-color: #FF8000;
	width:100%;
		height:150px;
		padding-top:20px;}
		
h3{font-size:20px;
	font-family:calibri;
	margin-left:900px;
	margin-top:20px;}


/* Aquí van los estilos para tablet */
 
@media only screen and (max-width:680px)
{
.header{width:100%;}
footer{width:100%;}
.logo{width:70%;}
h3{margin-left:0px; font-size:18px;}
section{left:0px; width:100%;}
h2{font-size:23px; margin-left:15px;}
p{font-size:20px;  margin-left:15px;}
#foto1{width:200px;}
#foto2{width:200px;}
#foto3{display:none;}

}


 
 
 /* Aquí van los estilos para celulares */	

@media only screen and (max-width:480px)
{
section{left:0px; width:100%;}
.logo{width:70%;}
h3{margin-left:0px; font-size:15px;}
h2{font-size:23px;  margin-left:15px;}
p{font-size:20px;  margin-left:15px;}
#foto1{width:200px; margin-left:40px; height:150px;}
#foto2{display:none;}
#foto3{display:none;}

}