body{margin: 0 auto}


.header{background-color: #FF8000;
		width:100%;
		height:150px;}

.fondo{position:relative;
	width:100%;
	height:900px;
	}
	
ul#superior{display:flex;}
	
.imgfondo{width:100%;
	height:900px;}
		
.logo{width:32%;
	height:175%;
	position:relative;
		bottom:50px;
		right:30px;}
		
ul{float:right;
	 list-style: none outside none;
	 margin-top:90px;

	
	 }
li{display:inline;
	font-family:calibri;
	 font-size: 20px;
	padding-right:50px;
	border-right:solid 2px;
	padding-left:40px;
	
	}
.ultimoli{border-right:none;}

a{text-decoration: none;
  color:black;}


section{background:rgba(254,154,46, 1);
		opacity:0.6;
		width:77%;
		height:70%;
		position:relative;
		bottom:800px;
		left:150px;
		padding-top:10px;}	

form{margin-left:320px;
margin-top:100px;
font-family:calibri;
font-size:20px;

position:relative;
bottom:40px;
	}

.pformu{margin-left:150px;
	margin-top:60px;
	font-family:calibri;
	font-size:25px;
	color:black;
	}


.boton{margin-left:120px;
	margin-top:20px;}

.tit{font-size:30px;}
	
	
footer{background-color: #FF8000;
	width:100%;
		height:150px;
		padding-top:20px;}
		
h3{font-size:20px;
	font-family:calibri;
	margin-left:900px;
	margin-top:20px;}

	
.terminos{font-size:11px;
	font-family:arial;
	margin-left:15px;
	margin-right:15px;
	position:relative;
	top:40px;
	}
	
h4{text-align:center;}	
	
	
	/* Aquí van los estilos para tablet */
 
@media only screen and (max-width:680px)
{
.header{width:100%;}
footer{width:100%;}
.logo{width:70%;}
section{left:0px; width:100%;}
h3{margin-left:0px; font-size:18px;}
form{margin-left:100px;}
.pformu{margin-left:100px;}
.terminos{position:relative; top:0px; font-size:10px;}





}


 
/* Aquí van los estilos para celulares */	

@media only screen and (max-width:480px)
{
section{left:0px; width:100%;}
form{float:left;}
h3{margin-left:0px; font-size:15px;}
form{margin-left:0px;}
.pformu{margin-left:0px; font-size:20px;}
.logo{width:70%;}
.terminos{position:relative; top:0px; font-size:7px;}






}