body{margin: 0 auto}

.header{background-color: #FF8000;
		width:100%;
		height:150px;}

.fondo{position:relative;
	width:100%;
	height:900px;
	}
	
.imgfondo{width:100%;
	height:900px;}
		
.logo{width:32%;
	height:175%;
	position:relative;
		bottom:50px;
		right:30px;}



		
ul{float:right;
	 list-style: none outside none;
	 margin-top:90px;
	
	 }
li{display:inline;
	font-family:calibri;
	 font-size: 20px;
	padding-right:50px;
	border-right:solid 2px;
	padding-left:40px;
	
	}
.ultimoli{border-right:none;}

a{text-decoration: none;
  color:black;}

.sec1{background:rgba(254,154,46, 0.6);
	opacity:0.8;
	width:250px;
	height:400px;
	margin-left:100px;
	position:relative;
	bottom:800px;
	padding-top:10px;
	}
	

h2{font-family:calibri;
	margin-left:65px;

	}	
	
.primerparrafo{font-family:calibri;
	margin-left:30px;}
	
	
hr{color:black;}	
.festifoto{margin-left:24px;}	


.section2{background:rgba(254,154,46, 0.6);
opacity:1;
	margin-left:390px;
	position:relative;
	bottom:1215px;
	padding-top:20px;
	width: 790px;
	height:400px;}
.h22{
	font-size:40px;
	font-family:calibri;
}	
.segundaseccion{font-size:20px;
	font-family:calibri;
	margin-left:40px;}
	
.bbb{color:red;
	font-size:25px;}
	
footer{background-color: #FF8000;
	width:100%;
		height:150px;
		padding-top:20px;}
		
h3{font-size:20px;
	font-family:calibri;
	margin-left:900px;
	margin-top:20px;}


 
 
 /* Aquí van los estilos para tablet */
 
@media only screen and (max-width:680px)
{
.header{width:100%;}
footer{width:100%;}
.logo{width:60%;}
h3{margin-left:0px; font-size:18px;}
.sec1{margin-left:0px; display:none;}
.section2{margin-left:0px; width:100%; position:relative; 
bottom:850px; padding-top:20px;}
.h22{font-size:30px; margin-left:20px;}
.segundaseccion{font-size:18px; margin-left:20px;}





}


 
 /* Aquí van los estilos para celulares */	

@media only screen and (max-width:480px)
{
.sec1{margin-left:0px; display:none;}
.section2{margin-left:0px; width:100%; padding-top:5px; }
.logo{width:70%;}
h3{margin-left:0px; font-size:15px;}
.h22{font-size:25px; margin-left:10px;}
.segundaseccion{font-size:16px; margin-left:10px;  }
}



 